<router-outlet></router-outlet>
<a [routerLink]="['ej1']" routerLinkActive="router-link-active" >Ejercicio 1</a> <br>
<a [routerLink]="['ej2']" routerLinkActive="router-link-active" >Ejercicio 2</a>


