<div class="container">

    <h3>Ejercicio 2</h3>

    <button class="btn btn-success" (click)="build()">
        Generar lista
    </button>

    <div *ngIf="init">

        <table class="table" *ngIf="!success">
            <thead>
                <tr>
                    <th>N°</th>
                    <th *ngFor="let letter of alphabet">{{letter}}</th>
                    <th>Suma numéricos contenidos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nLetters of paragraph; index as i">
                    <td>{{i}}</td>
                    <td *ngFor="let lettersQuantity of countLetters(nLetters,alphabet)">{{lettersQuantity}} </td>
                    <td>{{sum[i]}}</td>

                </tr>
            </tbody>

        </table>



    </div>
</div>