<div class="container">

        <h3>Ejercicio 1</h3>

        <button class="btn btn-success" (click)="build()">
                Generar lista
        </button>

        <div *ngIf="init">

                <table class="table" *ngIf="!success">
                        <thead>
                                <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">number</th>
                                        <th scope="col">quantity</th>
                                        <th scope="col">first position</th>
                                        <th scope="col">last position</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let number of noDuplicates; index as i" [ngStyle]="{
                                                'background-color': countNumbers(numbers, number) >=2 ? 'green':
                                                (countNumbers(numbers, number) === 1 ? 'yellow': 'gray')
                                        }">
                                        <td>{{i}}</td>
                                        <td>{{number}}</td>
                                        <td>{{countNumbers(numbers, number)}}</td>
                                        <td>{{firstPosition(numbers, number)}}</td>
                                        <td>{{lastPosition(numbers, number)}}</td>
                                </tr>
                        </tbody>
                </table>


                <textarea *ngIf="!success">{{sort(numbers)}}</textarea>

        </div>

        <h4 *ngIf="success">Error!! Lista Vacía</h4>

</div>